*{
    margin: 0PX;
    padding: 0PX;
    box-sizing: border-box;
}

#navbar{
    width: 100%;
    height: 191px;
    background-color: #2ceaff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#left_nav {
    margin: 10px;
    width: 435px;
    height: 148px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#right_nav{
    margin: 10px;
    width: 976px;
    height: 148px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    background-color: #369382;
    border-radius: 20px;
}
#logo{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border:2px solid black;
    background-image: url("/images/watchel.jpg");
    background-size: cover;
}

#logo_name{
   width: 213px;
   height: 77px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   display: flex;
   align-items: center;
   padding-left: 30px;
}

#right_nav ul{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
}
#right_nav ul li {
    list-style-type: none;
}

.btn{
    width: 157px;
    height: 59px;
    margin-left: 60px;
    border-radius: 20px;
}
section{
    display: flex;
}
#left-box{
    height: 400px;
    width: 266px;
    border: 2px solid black;
}
#right-box{
    width: 100%;
    height: 833px;
    background-color: #8564D2;
}
#title-box{
    height: 54px;
    background-color: cyan;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 25px;
}
#movie-box{
    width: 1137px;
    height: 741px;
    border: 2px solid black;
    margin: 20px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    
}
.movie button{
    height: 226px;
    width: 237px;
    border-radius: 20px;
    background-color: rgb(102, 32, 32);
    margin-left: 40px;
    margin-top: 10px;

}